body {
    background-color: cadetblue;
}
.main {
    position: relative;
    margin: 100px auto;
    padding: 5px;
    width: 700px;
    height: 390px;
    background-color: gold;
    border: 5px solid lightgray;
    border-radius: 15px;
}
#picture {
    margin: 20px auto;
    width: 640px;
    height: 340px;
    background-size: cover;
    border: 2px solid black;
    border-radius: 10px;
}
button {
    position: absolute;
    top: 150px;
    width: 25px;
    height: 70px;
    font: 12pt arial,tahoma,sans-serif;
    text-align: center;
}
.left {
    left: 5px;
}
.right {
    right: 5px;
}
